git+https://github.com/facebookresearch/segment-anything.git
torch==2.0.1
supervision==0.6.0

# !git clone https://github.com/IDEA-Research/GroundingDINO.git
# pip install -r requirement.txt
# !pip install -q -e .